<form id="flavorerForm">
  <h1>{{title}}</h1>
  {{#if isLoading}}
  <p>Loading...</p>
  {{else if invalidAPIKey}}
  <p class="error-message">Your OpenAI API Key is invalid! Click below to update it</p>
  <button type="button" id="llmtci-updateAPIKey">Update API Key</button>
  {{else}}
  {{! Compendium Selector }}
  <label for="llmtci-compendiumSelect">Compendium:</label>
  <select id="llmtci-compendiumSelect" class="form-select"=>
    {{#each actorCompendiumOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  {{! Model Selector }}
  <label for="llmtci-modelSelect">Model:</label>
  <select id="llmtci-modelSelect" class="form-select">
    {{#each modelOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  <div class="flexrow">
    <label>Monster Stat Block:</label>
  </div>
  <div class="flexrow">
    <textarea style="height: 200px" id="llmtci-userText" name="promptText"></textarea>
  </div>
  <button type="submit" id="llmtci-submit">Submit</button>
  {{/if}}
</form>