<form id="flavorerForm">
  <h1>{{title}}</h1>
  {{#if isLoading}}
  <p>{{localize 'LLMTCI.MonsterFormLoadingText'}}</p>
  {{else if invalidAPIKey}}
  <p class="error-message">{{localize 'LLMTCI.MonsterFormInvalidAPIKeyMessage'}}</p>
  <button type="button" id="llmtci-updateAPIKey">{{localize 'LLMTCI.UpdateAPIKeyButton'}}</button>
  {{else}}
  {{! Compendium Selector }}
  <label for="llmtci-compendiumSelect">{{localize 'LLMTCI.CompendiumSelectorLabel'}}</label>
  <select id="llmtci-compendiumSelect" class="form-select"=>
    {{#each actorCompendiumOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  {{! Model Selector }}
  <label for="llmtci-modelSelect">{{localize 'LLMTCI.ModelSelectorLabel'}}</label>
  <select id="llmtci-modelSelect" class="form-select">
    {{#each modelOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  <div class="flexrow">
    <label>{{localize 'LLMTCI.MonsterStatBlockLabel'}}</label>
  </div>
  <div class="flexrow">
    <textarea style="height: 200px" id="llmtci-userText" name="promptText"></textarea>
  </div>
  <button type="submit" id="llmtci-submit">{{localize 'LLMTCI.MonsterStatBlockSubmitButton'}}</button>
  {{/if}}
</form>