<form id="flavorerForm">
  <h1>{{title}}</h1>
  {{#if isLoading}}
  {{#each tasks}}
  <div class="flexrow">
    <div class="flexrow flex2">
      <div class="flex1">
        <h4 style="margin:0; font-size:medium">{{this.name}}</h4>
      </div>
      <p class="flex2">
        {{this.description}}
        <b style="margin:0;">{{this.timeElapsedString}}</b>
      </p>
    </div>
    {{#if this.isComplete}}
    <div class="flex1">
      <i class="fas fa-check"></i>
    </div>
    {{else}}
    <div class="flex1">
      <div class="loader"></div>
    </div>
    {{/if}}
  </div>
  {{/each}}
  {{else if invalidAPIKey}}
  <p class="error-message">Your OpenAI API Key is invalid! Click below to update it</p>
  <button type="button" id="llmtci-updateAPIKey">Update API Key</button>
  {{else}}
  {{! Compendium Selector }}
  <label for="llmtci-compendiumSelect">Compendium:</label>
  <select id="llmtci-compendiumSelect" class="form-select"=>
    {{#each actorCompendiumOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  {{! Model Selector }}
  {{#if showModelSelector}}
  <label for="llmtci-modelSelect">Model:</label>
  <select id="llmtci-modelSelect" class="form-select">
    {{#each modelOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
    {{/if}}
  </select>
  <div class="flexrow">
    <label>Monster Stat Block:</label>
  </div>
  <div class="flexrow">
    <textarea style="height: 800px" id="llmtci-userText" name="promptText"></textarea>
  </div>
  <button type="submit" id="llmtci-submit">Submit</button>
  {{/if}}
</form>