<form id="flavorerForm">
  <h1>{{title}}</h1>
  {{#if showProgressView}}
  {{#each tasks}}
  <div class="flexrow">
    <div class="flex2">
      <p>
        <b>{{this.name}}</b>
        {{this.description}}
      </p>

    </div>
    <div class="flex1">
      <div class="flexrow">
        {{#if this.isError}}
        <h4 class="timeElapsedStringError">{{this.timeElapsedString}}</h4>
        <i class="fas fa-exclamation-triangle"></i>
        <p class="error-message">{{this.errorMessage}}</p>
        {{else if this.isComplete}}
        <h4 class="timeElapsedStringComplete">{{this.timeElapsedString}}</h4>
        <i class="fas fa-check"></i>
        {{else}}
        <h4 class="timeElapsedStringLoading">{{this.timeElapsedString}}</h4>
        <div class="loader"></div>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
  {{#unless isLoading}}
  <button type="button" id="llmtci-import-another">Import Another!</button>
  {{/unless}}
  {{else if invalidAPIKey}}
  <p class="error-message">Your OpenAI API Key is invalid! Click below to update it</p>
  <button type="button" id="llmtci-updateAPIKey">Update API Key</button>
  {{else}}
  {{! Compendium Selector }}
  <label for="llmtci-compendiumSelect">Compendium:</label>
  <select id="llmtci-compendiumSelect" class="form-select"=>
    {{#each actorCompendiumOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
  </select>
  {{! Model Selector }}
  {{#if showModelSelector}}
  <label for="llmtci-modelSelect">Model:</label>
  <select id="llmtci-modelSelect" class="form-select">
    {{#each modelOptions}}
    <option value="{{this.name}}" {{#if this.isSelected}}selected{{/if}}>
      {{this.label}}
    </option>
    {{/each}}
    {{/if}}
  </select>
  <div class="flexrow">
    <label>Monster Stat Block:</label>
  </div>
  <div class="flexrow">
    <textarea style="height: 800px" id="llmtci-userText" name="promptText"></textarea>
  </div>
  <button type="submit" id="llmtci-submit">Submit</button>
  {{/if}}
</form>