<h2>{{localize 'LLMTCI.APIKeySubmenuTitle'}}</h2>
<p>{{localize 'LLMTCI.APIKeySubmenuDescription'}}<a href="https://beta.openai.com/signup/">{{localize
    'LLMTCI.APIKeySubmenuDescriptionLink'}}</a>.</p>

<div class="form-description">
  <form id="openai-api-key-form" autocomplete="off" onsubmit="event.preventDefault();">
    <label for="openai-api-key">{{localize 'LLMTCI.OpenAISecretAPIKeyEntryLabel'}}</label>
    <input type="password" id="apiKey" name="apiKey" value="{{apiKey}}" />
    <button type="submit">{{localize 'LLMTCI.SaveAndValidateAPIKeyButton'}}</button>
    {{#if isValid}}
    <p class="success-message">{{localize 'LLMTCI.APIKeyIsValidMessage'}}</p>
    {{else}}
    <p class="error-message">{{localize 'LLMTCI.APIKeyIsInvalidMessage'}}</p>
    {{/if}}
  </form>
</div>